{{#if leads}}
  <div class="row">
    {{#each leads}}

     <div class="container1">
        
   <div class="colunm">{{this.name}}</div>
   <div class="colunm">{{this.price}}</div>
   <div class="colunm">{{this.status}}</div>
   <div class="colunm">{{this.user}}</div>

   <div class="colunm">{{this.date}}</div>
   
    </div>

      
       
    {{/each}}
  </div>
{{else}}
  <h1>Список сделок пуст!</h1>
{{/if}}

<input type="text" id="inn" class="inputn" placeholder="Введите подстроку для поиска" autocomplete="off" />
<a id="srch" onclick="s(this, inn)" href="/?query=">Найти</a>

<style>
  .container1  {
    display: flex;
   
   justify-content: space-around;
   flex-flow: row wrap;
  }
  .colunm  {
    width: calc(100%/5);
    text-align: center;
  }
  .inputn {
    margin-top: 40px;
  }
</style>

<script>
  const s = (a, b) => a.href += b.value;

</script>

